@import "./variables";

// font styles
@mixin location-text {
  font-size: 1.5rem;
  font-weight: 500;
}

@mixin date-text {
  font-size: 0.95rem;
  font-weight: 400;
  color: $font-color-accent;
}

@mixin primary-temp {
  font-size: 5.5rem;
  font-weight: 200;
}

@mixin text-shadow-1 {
  text-shadow: 0 2px 3px #00000033;
}

// images
@mixin weather-image {
  width: 120px;
  height: 120px;
}

// containers
@mixin widget-container {
  padding: 40px 35px;
  backdrop-filter: brightness(1.15) blur(40px);
  border-radius: 15px;
  border: 1px solid $primary-border;
  box-shadow: 0px 3px 7px 4px $primary-shadow;
}
