// background colors
// $bg-color-primary: ;
$bg-color-light: #ffffff1a;

// font colors
$font-color: white;
$font-color-accent: darken($font-color, 10%);

// borders
$primary-border: #ffffff73;
$opaque-border: #ffffff3d;

// shadows
$primary-shadow: #00000014;
