<div [ngClass]="{ 'night-clouds': !day }" class="position-fixed w-100 cloud-container">
  <div class="d-flex justify-content-between w-100">
    <img
      class="medium-cloud"
      src="https://firebasestorage.googleapis.com/v0/b/weather-app-d5f91.appspot.com/o/weather-images%2Fsmall_broken_cloud_png.png?alt=media&token=a1dfe998-02a3-4b42-8a0c-78376d61a45f"
    />
    <img
      class="large-cloud"
      src="https://firebasestorage.googleapis.com/v0/b/weather-app-d5f91.appspot.com/o/weather-images%2Flarge_broken_cloud_png.png?alt=media&token=301d92bf-cfaf-4997-9e04-76cc1fcfe77f"
    />
  </div>
</div>
